{
  "extends": [
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "plugin:prettier/recommended"  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
